<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="${title}"></h1>
    </div>
    <p th:if="${result} != null"
       th:class="'alert alert-' + ${result.type().getUiClass()}"
       th:text="${result.message()}"/>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:action="@{/student/save}" method="post" th:object="${request}">
                        <input type="hidden" th:field="*{id}"/>
                        <div th:replace="~{form-group :: field('egn', 'text', 'ЕГН', *{getEgn()})}"></div>
                        <div th:replace="~{form-group :: field('firstName', 'text', 'Име', *{getFirstName()})}"></div>
                        <div th:replace="~{form-group :: field('middleName', 'text', 'Презиме',*{getMiddleName()})}"></div>
                        <div th:replace="~{form-group :: field('lastName', 'text', 'Фамилия', *{getLastName()})}"></div>
                        <div th:replace="~{form-group :: field('parentEgn', 'text', 'ЕГН родител', *{getParentEgn()})}"></div>
                        <div th:replace="~{form-group :: field('parentName', 'text', 'Имена на родител', *{getParentName()})}"></div>
                        <div th:replace="~{form-group :: checkbox('status', 'Активен', 1, ${request.getStatus() == true})}"></div>
                        <button type="submit" class="btn btn-primary">Запиши</button>
                        <a href="/student" class="btn btn-link">Отказ</a>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>