<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="${title}"></h1>
    </div>
    <p th:if="${result} != null"
       th:class="'alert alert-' + ${result.type().getUiClass()}"
       th:text="${result.message()}"/>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post">
                        <div th:replace="~{form-group :: field('name', 'text', 'Име', ${request.getName()})}">
                        </div>
                        <div th:replace="~{form-group :: field('address', 'text', 'Адрес', ${request.getAddress()})}">
                        </div>
                        <button type="submit" class="btn btn-primary">Добави</button>
                        <a href="/schools" class="btn btn-link">Отказ</a>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>