<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
<div class="row">
    <div class="col col-md-12">
        <div class="page-header">
            <h1>Табло</h1>
        </div>
        <p th:if="${result} != null"
           th:class="'alert alert-' + ${result.type().getUiClass()}"
           th:text="${result.message()}"/>

        <form th:action="@{/set-global-filters}" method="post">
            <div class="form-group">
                <label for="schoolId">Избери училище</label>
                <select id="schoolId" name="schoolId" class="form-control" required>
                    <option value="">Избери...</option>
                    <option th:each="school : ${schools}" th:value="${school.id}"
                            th:selected="${session.get('schoolId')} == ${school.id}"
                            th:text="${school.id + ' - ' + school.name}"></option>
                </select>
            </div>
            <div th:if="${studyPeriods != null}" class="form-group" id="js-study-period-group">
                <label for="studyPeriodId">Избери срок</label>
                <select id="studyPeriodId" name="studyPeriodId" class="form-control">
                    <option value="">Избери...</option>
                    <option th:each="studyPeriod : ${studyPeriods}" th:value="${studyPeriod.id}"
                            th:selected="${session.get('studyPeriodId')} == ${studyPeriod.id}"
                            th:text="${studyPeriod.currentYear + ' ' + studyPeriod.name + ' (' + studyPeriod.currentSemester + ')'}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Избери</button>
        </form>
    </div>
</div>
</div>
<script>
    window.onload = function () {
        let $schoolIdSelect = $('#schoolId');
        let originalSchoolId = $schoolIdSelect.val();

        $schoolIdSelect.on('change', function () {
            if ($(this).val() !== originalSchoolId) {
                $('#js-study-period-group').remove();
            }
        });
    }
</script>
</body>
</html>