<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(body)">
<head>
    <meta charset="UTF-8">
    <title th:text="${#vars.title} ? ${#vars.title} + ' - My School' : 'My School'"></title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<header class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="./" class="navbar-brand">Bootstrap Menu</a> -->
        </div>
        <nav class="collapse navbar-collapse" role="navigation" id="nav-main">
            <ul class="nav navbar-nav">
                <li><a href="/">Табло</a></li>
                <li class="dropdown" sec:authorize="${hasRole('ADMIN')}">
                    <a class="dropbtn">Каталози <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users">Потребители</a></li>
                        <li><a href="/schools">Училища</a></li>
                        <li><a href="/schoolClass">Класове</a></li>
                        <li><a href="/educObjects">Преподавани предмети</a></li>
                        <li><a href="/teacher">Преподаватели</a></li>
                        <li><a href="/student">Ученици</a></li>
                        <li><a href="/typeMark">Типове оценки</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/program">Програма</a>
                </li>
                <li>
                    <a href="/marks">Бележник</a>
                </li>
                <li>
                    <a href="absences">Отсъствия</a>
                </li>
                <li>
                    <a href="#">Справки</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Изход</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="global-filters">
    <div class="container">
        <form th:action="@{/set-global-filters}" method="post" class="form-inline">
            <div class="form-group form-group-sm">
                <select id="schoolId" name="schoolId" class="form-control mr-3">
                    <option value="">Избери...</option>
                    <option th:each="school : ${schools}" th:value="${school.id}"
                            th:selected="${session.get('schoolId')} == ${school.id}"
                            th:text="${school.id + ' - ' + school.name}"></option>
                </select>
            </div>
            <div th:if="${studyPeriods != null}" class="form-group form-group-sm" id="js-study-period-group">
                <select id="studyPeriodId" name="studyPeriodId" class="form-control">
                    <option value="">Избери...</option>
                    <option th:each="studyPeriod : ${studyPeriods}" th:value="${studyPeriod.id}"
                            th:selected="${session.get('studyPeriodId')} == ${studyPeriod.id}"
                            th:text="${studyPeriod.currentYear + ' ' + studyPeriod.name + ' (' + studyPeriod.currentSemester + ')'}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-default btn-sm">Избери</button>
        </form>
    </div>
</div>
<div class="container" th:replace="${body}">
    <h1 th:text="${title}"></h1>
</div>
<footer class="container">
    <hr>
    <p class="small">&copy; 2024 My School</p>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src="/js/app.js"></script>
</body>
</html>
