<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(body)">
<head>
    <meta charset="UTF-8">
    <title th:text="${#vars.title} ? ${#vars.title} + ' - My School' : 'My School'"></title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<header class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="./" class="navbar-brand">Bootstrap Menu</a> -->
        </div>
        <nav class="collapse navbar-collapse" role="navigation" id="nav-main">
            <ul class="nav navbar-nav">
                <li><a href="/">Табло</a></li>
                <li><a href="/users">Потребители</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Каталози <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Училище</a></li>
                        <li><a href="/schoolClass">Класове</a></li>
                        <li><a href="/educObjects">Преподавани предмети</a></li>
                        <li><a href="/teacher">Преподаватели</a></li>
                        <li><a href="#">Ученици</a></li>
                        <li><a href="/typeMark">Типове оценки</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/program">Програма</a>
                </li>
                <li>
                    <a href="#">Бележник</a>
                </li>
                <li>
                    <a href="#">Отсъствия</a>
                </li>
                <li>
                    <a href="#">Справки</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Изход</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container" th:replace="${body}">
    <h1 th:text="${title}"></h1>
</div>
<footer class="container">
    <hr>
    <p class="small">&copy; 2024 My School</p>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src="/js/app.js"></script>
</body>
</html>
