<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="input(id, type, label, value)"
     class="form-group"
     th:classappend="${errors?.hasFieldErrors(id)}? 'has-error'"
>
    <label th:for="${id}" th:text="${label}"></label>
    <input th:type="${type}" th:name="${id}" th:id="${id}" th:value="${value}" class="form-control"/>
    <p th:if="${errors?.hasFieldErrors(id)}"
       th:text="${errors?.getFieldError(id)?.getDefaultMessage()}"
       class="help-block"/>
</div>

<div th:fragment="base(id, label, body)" class="form-group" th:classappend="${errors?.hasFieldErrors(id)}? 'has-error'">
    <label th:for="${id}" th:text="${label}"></label>
    <div th:replace="${body}"></div>
    <p th:if="${errors?.hasFieldErrors(id)}"
       th:text="${errors?.getFieldError(id)?.getDefaultMessage()}"
       class="help-block"/>
</div>
</html>