<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="page-header">
        <h1 th:text="${title}"></h1>
        <p th:if="${result} != null"
           th:class="'alert alert-' + ${result.type().getUiClass()}"
           th:text="${result.message()}"/>

        <!-- Form to select StudyPeriod and SchoolClass -->
        <form th:action="@{/program}">
            <div class="form-group">
                <label for="schoolClassId">Избери клас</label>
                <select id="schoolClassId" name="schoolClassId" class="form-control" required>
                    <option value="">Избери...</option>
                    <option th:each="schoolClassOption : ${schoolClasses}"
                            th:value="${schoolClassOption.id}"
                            th:text="${schoolClassOption.name}"
                            th:selected="${schoolClass != null && schoolClassOption.getId().equals(schoolClass.getId())}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Покажи програма</button>
        </form>
    </div>

    <!-- Display selected SchoolClass and StudyPeriod names -->
    <div class="container mt-3" th:if="${schoolClass != null and studyPeriod != null}">
        <h2 class="font-weight-bold" th:text="${schoolClass.name + ' - ' + studyPeriod.name}"></h2>
    </div>

    <div class="panel panel-default" th:if="${programCells != null}">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th width="10"></th>
                    <th>Понеделник</th>
                    <th>Вторник</th>
                    <th>Сряда</th>
                    <th>Четвъртък</th>
                    <th>Петък</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lessonOrder : ${#numbers.sequence(1, 8)}">
                    <td th:text="${lessonOrder}"></td>
                    <td th:each="day: ${daysOfWeek}">
                        <span th:each="programCell : ${programCells}"
                              th:if="${programCell.dayOfWeek.equals(day)} and ${programCell.lessonOrder} == ${lessonOrder}">
                            <strong th:if="${programCell.educObj != null}"
                                    th:text="${programCell.educObj.name}"></strong>
                            <br>
                            <small th:if="${programCell.teacher != null}" th:text="${programCell.teacher.name}"
                                   class="text-muted"></small>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</body>
</html>
